<?js
var self = this;
?>
<div class="navigation">
    <h3 class="applicationName">
        <?js if(env.conf.templates.applicationLogo) { ?>
        <img width="81" height="20" src="<?js= env.conf.templates.applicationLogo ?>" alt="<?js= env.conf.templates.applicationName ?>">
        <?js } ?>
        <a href="index.html"><?js= env.conf.templates.applicationName ?></a>
    </h3>
    <div class="search">
        <input id="search" type="text" class="form-control input-sm" placeholder="Search Documentations">
    </div>
    <ul class="list">
    <?js
    this.nav.forEach(function (item) {
    ?>
        <?js if(item.type === 'title') { ?>
        <li class="item item-title"><span><?js= item.name ?></span></li>
        <?js } else {?>
        <li class="item" data-name="<?js= item.longname ?>">
            <span class="title">
                <?js= self.linkto(item.longname, item.type === 'module' || item.type === 'namespace' ? item.name : item.longname) ?>
                <?js if (item.type === 'namespace') { ?>
                <span class="static">static</span>
                <?js } ?>
            </span>
            <?js
            if (item.members.length) {
            ?>
            <ul class="members itemMembers">
            <span class="subtitle">Members</span>
                <?js
                    item.members.forEach(function (v) {
                ?>
                <li data-name="<?js= v.longname ?>"><?js= self.linkto(v.longname, v.name) ?></li>
                <?js
                });
                ?>
            </ul>
            <?js
            }
            ?>
            <?js
            if (item.typedefs.length) {
            ?>
            <ul class="typedefs itemMembers">
                <span class="subtitle">Typedefs</span>
                <?js
                item.typedefs.forEach(function (v) {
                ?>
                <li data-name="<?js= v.longname ?>"><?js= self.linkto(v.longname, v.name) ?></li>
                <?js
                });
                ?>
            </ul>
            <?js
            }
            ?>
            <?js
            if (item.methods.length) {
            ?>
            <ul class="methods itemMembers">
                <span class="subtitle">Methods</span>
                <?js
                item.methods.forEach(function (v) {
                ?>
                <li data-name="<?js= v.longname ?>"><?js= self.linkto(v.longname, v.name) ?></li>
                <?js
                });
                ?>
            </ul>
            <?js
            }
            ?>
            <?js
            if (item.events.length) {
            ?>
            <ul class="events itemMembers">
            <span class="subtitle">Events</span>
                <?js
                item.events.forEach(function (v) {
                ?>
                <li data-name="<?js= v.longname ?>"><?js= self.linkto(v.longname, v.name) ?></li>
                <?js
                });
                ?>
            </ul>
            <?js
            }
            ?>
        </li>
        <?js } ?>
    <?js }); ?>
    </ul>
</div>